.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  margin-left: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #d3b362;
  opacity: 1;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
  color: #d3b362;
}

.swiper-button-disabled {
  color: #dadada;
}
